<form action="/create" method="POST">
    <label for="fullUrl">Url</label>
    <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl">
    <input type="hidden" id="_csrf" name="_csrf" value="<%- token %>" />
    <button type="submit">Create Short One</button>
  </form>