* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: .2rem;
  font-weight: bolder;
  text-align: center;
 
  color: rgb(125 211 252);
  background-color: rgb(2 132 199);
  border-radius: 5px;
  width: 42%;
  margin-inline: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: .5rem;
  box-shadow: 1px 1px 8px 0px rgb(2 132 199);
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
  }

td {
    border: 3px solid purple;
}

th {
    border: 3px solid purple;
}

.flash {
    width: 50%;
    margin-inline: auto;
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 1rem;
}

.flash-error {
    background-color: rgb(244 63 94);
    color: rgb(252 231 243);
    box-shadow: 1px 1px 8px 0px rgb(244 63 94);
}

.flash-success {
    background-color: rgb(21 128 61);
    color: rgb(209 250 229);
    box-shadow: 1px 1px 8px 0px rgb(21 128 61);
}

.ani-fadein {
    animation: fade-in 1.2s;
  }
  
.ani-fadeout {
    animation: fade-out 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 100;
    }
    to {
      opacity: 0;
    }
  }